<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Concord</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <link rel="stylesheet" href="styles.css"/>
</head>
<body>

<div class="ui main container">
    <div class="ui icon tiny secondary menu visible">
        <div class="item">
            <img class="ui mini image" src="g64.png">
        </div>

        <div class="ui category search item">
            <div class="ui transparent icon input">
                <input class="prompt" placeholder="Search..." type="text">
                <i class="search link icon"></i>
            </div>
            <div class="results"></div>
        </div>

        <div class="ui right dropdown item">
            <i class="user icon"></i> Ivan Bodrov - Vendor
            <i class="dropdown icon"></i>

            <div class="menu">
                <a class="item">Profile</a>
                <a class="item">Log out</a>
            </div>
        </div>
    </div>

    <div class="ui vertical segment">
        <div class="ui big breadcrumb">
            <div class="active section">Organizations</div>
        </div>
    </div>

    <div class="ui secondary menu">
        <div class="ui category search item">
            <div class="ui transparent icon input">
                <input class="prompt" placeholder="Find by name..." type="text">
                <i class="search link icon"></i>
            </div>
            <div class="results"></div>
        </div>

        <div class="ui toggle checkbox right item">
            <input id="only-user-orgs" name="public" type="checkbox" checked="">
            <label for="only-user-orgs">Show only user's organizations</label>
        </div>
    </div>

    <div class="ui large relaxed divided list">
        <div class="item">
            <img class="ui tiny image" src="sde.png">
            <div class="content">
                <a href="org.html" class="header">SDE</a>
                <div class="description">Software Delivery and Enablement</div>
            </div>
        </div>
        <div class="item">
            <img class="ui tiny image" src="wireframe.png">
            <div class="content">
                <div class="header">OtherOrg</div>
                <div class="description">Example org.</div>
            </div>
        </div>
        <div class="item">
            <img class="ui tiny image" src="wireframe.png">
            <div class="content">
                <div class="header">OtherOrg</div>
                <div class="description">Example org.</div>
            </div>
        </div>
        <div class="item">
            <img class="ui tiny image" src="wireframe.png">
            <div class="content">
                <div class="header">OtherOrg</div>
                <div class="description">Example org.</div>
            </div>
        </div>
        <div class="item">
            <img class="ui tiny image" src="wireframe.png">
            <div class="content">
                <div class="header">OtherOrg</div>
                <div class="description">Example org.</div>
            </div>
        </div>
    </div>
</div>

<script>
    $(".ui.dropdown").dropdown();
</script>

</body>
</html>
