<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Concord</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
</head>
<body>

<div class="ui main container">
    <div class="ui icon tiny attached menu visible">
        <div class="item">
            <img class="ui mini image" src="g64.png">
        </div>

        <div class="ui category search item">
            <div class="ui transparent icon input">
                <input class="prompt" placeholder="Search..." type="text">
                <i class="search link icon"></i>
            </div>
            <div class="results"></div>
        </div>

        <div class="ui right dropdown item">
            <i class="user icon"></i> Ivan Bodrov - Vendor
            <i class="dropdown icon"></i>

            <div class="menu">
                <a class="item">Profile</a>
                <a class="item">Log out</a>
            </div>
        </div>
    </div>

    <div class="ui vertical segment">
        <div class="ui big breadcrumb">
            <a class="section" href="org.html">SDE</a>
            <div class="divider"> /</div>
            <div class="active section">concord-examples</div>
        </div>
    </div>

    <div class="ui tabular menu">
        <div class="item">
            <i class="tasks icon"></i>
            <a href="processes.html">Processes</a>
        </div>
        <div class="active item">
            <i class="code icon"></i>
            Repositories
        </div>
        <div class="item">
            <i class="setting icon"></i>
            <a href="settings.html">Settings</a>
        </div>
    </div>

    <div class="ui secondary menu">
        <div class="right item">
            <button class="ui labeled green icon button">
                <i class="plus icon"></i>
                Add repository
            </button>
        </div>
    </div>

    <table class="ui padded table">
        <thead>
        <tr>
            <th>Name</th>
            <th>URL</th>
            <th>Source</th>
            <th>Path</th>
            <th>Secret</th>
            <th class="collapsing"></th>
            <th class="collapsing"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>hello_world</td>
            <td>git@gecgithub01.walmart.com:devtools/concord.git</td>
            <td>master</td>
            <td>/examples/hello_world</td>
            <td>examplesKey</td>
            <td>
                <button class="ui icon red button">
                    <i class="remove icon"></i>
                </button>
            </td>
            <td>
                <button class="ui right labeled icon blue button">
                    <i class="right arrow icon"></i>
                    Run
                </button>
            </td>
        </tr>
        <tr>
            <td>ansible</td>
            <td>git@gecgithub01.walmart.com:devtools/concord.git</td>
            <td>master</td>
            <td>/examples/ansible</td>
            <td>examplesKey</td>
            <td>
                <button class="ui icon red button">
                    <i class="remove icon"></i>
                </button>
            </td>
            <td>
                <button class="ui right labeled icon blue button">
                    <i class="right arrow icon"></i>
                    Run
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    $(".ui.dropdown").dropdown();
</script>

</body>
</html>
